* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

@font-face {
  font-family: lcd;
  src: url(../font/SUBWT___.ttf);
}

html {
  max-width: 100vw;
  height: 100vh;
  font-size: 62.5%;
}

body {
  max-height: 100vh;
  padding: 50px;
  width: 100vw;
  display: inline;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

#result {
  height: 10vh;
  width: 80%;
  font-size: 80px;
  margin-bottom: 10px;
  background-color: black;
  color: green;
  text-align: right;
  padding: 10px 4px 10px 4px;
  border: 3px solid #FC2296;
  border-radius: 4px;
  margin: auto;
  border-radius: 50px;
}

#keyBoard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: calc(82vh/7);
  grid-auto-columns: calc(100%/4);
  grid-gap: 10px;
  padding: 10px;
  margin: auto;
  width: 80%;
  height: auto;
  font-size: 6rem;
  border: solid;
  border-radius: 50px;
  border-color: #FC2296;
  background-color: black;
  margin-top: 10px;
}


#keyBoard input {
  background-color: #FC2296;
  padding: 2px;
  margin: 2px;
  font-size: 40px;
  border-radius: 50px;
}

#keyBoard input:hover{
  opacity: 0.7;
  cursor: pointer;
}

#keyBoard input:active{
  opacity: 0.3;
}

@media (max-width: 930px) {
  body {
  }

  main {
  }

  #keyBoard {
    width: 100vw;
  }

  #result {
    width: 100vw;
    padding: 0;
    font-size: 40px;
  }

  #keyBoard input {
    padding: auto;
    font-size: 25px;
  }
}

@media (max-width: 420px) {
  main {
  }

  #keyBoard input {
    padding: auto;
    font-size: 20px;
    margin: -3px;
    aspect-ratio: 1 / 1;
  }

  #result{
    font-size: 35px;
  }

}
